* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      color: #eee;
}

body {
      font-family: 'ClashDisplay-Medium';

      background-color: #1F1F1F;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      padding-top: 20px;
      padding-bottom: 20px;
}

#main-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 90%;
      margin-top: 50px;
}

svg {
      width: 90%;
      margin-top: 70px;
}

#header2 {
      margin-top: 150px;
      margin: 150px 30px 0px 30px;
}

.timestamp {
      font-size: 30px;
      font-weight: 700;
}

.activity {
      font-size: 24px;
      font-weight: 400;
}

.desc {
      font-size: 12px;
      font-weight: 200;
}

.item {
      margin: 40px;
      display: flex;
      flex-direction: column;
}

.item>p,
.item>h2 {
      margin-top: 10px;
}

.column {
      min-width: 1px;
}

#column1 {}

#column2>svg {
      margin-top: 20px;
}

#column3 {}

#first {
      margin-top: 120px;
}